# Build directories
build/
example/build/

# VS Code directory
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# CMake-specific files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile
install_manifest.txt

# IDEs and editors
.idea/
*.swp
*~

# Python-specific files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/
.venv/
.ENV/
.env/
env.bak/
venv.bak/

# tox
.tox/
.pytest_cache/

# Egg info
*.egg-info/
